[Unit]
Description=XRay Torrent Blocker Service
After=network.target

[Service]
Type=simple
User=root
ExecStartPre=/bin/bash -c 'if ! ipset list tblocker &>/dev/null; then ipset create tblocker hash:net; fi'
ExecStartPre=/bin/bash -c 'if ! iptables -C DOCKER-USER -m set --match-set tblocker src -j DROP &>/dev/null; then iptables -I DOCKER-USER 1 -m set --match-set tblocker src -j DROP; fi'
ExecStart=/opt/tblocker/tblocker -c /opt/tblocker/config.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
